html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}



#footer {
  color: #fff;
  font-size: 14px;
  background: #FF8734;
  padding: 200px 0 0 0; 
  position: relative;
}


#footer .copyright-wrap {
  background-color: #FF8734;
  color: white;
  font-size: 15px;
  font-weight: 15;
  width: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  text-align: center;
}


body {
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
}

a {
  color: #FF8734;
}

a:hover {

  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  border-color: #ffffff;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #FF8734;
  color: #fff;
  transition: all 0.4s;
  border-color: #ffffff;
  border-width: 12px;
  border: #ffffff 4px solid;
  border-radius: 10px;
}

.back-to-top i:hover {
  background: #FF8734;
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  background: #FF6900;
  border-color: #ffffff;
  border-width: 5px;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #FF8734;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled, #header.header-inner-pages {
  background: #FF6900;
  padding: 12px 0;
}

#first-wave{
position: fixed !important;
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
  
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 22px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #d5761e;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #d5761e;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #fff;
  border-radius: 5px;
  padding: 6px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.get-started-btn:hover {
  border-color: #fff;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #e29622;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #e67b24;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# me Section
--------------------------------------------------------------*/
#me {
  width: 100%;
  height: 100%;
  top : 0;
  padding-top:unset;
  background-size: fixed;
}

#me .container, #me .container-fluid {
  padding-top: 0px;
}

#me h1 {
  margin: 0;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
}

#me h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 0 0;
  font-size: 20px;
}

#me .btn-get-started {
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
}

#me .btn-get-started:hover {
  background: #fff;
  color: #f9c046;
}

#me .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
  #me {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #me {
    text-align: center;
  }
  #me .container, #me .container-fluid {
    padding-top: 68px;
  }
  #me .animated {
    -webkit-animation: none;
    animation: none;
  }
  #me .me-img {
    text-align: center;
  }
  #me .me-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #me h1 {
    font-size: 26px;
    line-height: 36px;
  }
  #me h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #me .me-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #me .me-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.skill-title {
  text-align: center;
  padding-bottom: 30px;
}

.project-title {
  text-align: center;
  padding-bottom: 30px;
  color: #fff;
}

.project-title h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}
.project-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fff;
  bottom: 0;
  left: calc(50% - 25px);
}
.skill-title h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #FF6900;
}
.skill-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ff6900;
  bottom: 0;
  left: calc(50% - 25px);
}

.skill-title p {
  margin-bottom: 0;
}

.project-title p {
  margin-bottom: 0;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color : #fff;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fff;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# education
--------------------------------------------------------------*/
.education {
  padding: 120px 0;
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
}

.education .content h3 {
  font-weight: 600;
  font-size: 32px;
}

.education .content ul {
  list-style: none;
  padding: 0;
}

.education .content ul li {
  padding-bottom: 10px;
}

.education .content ul i {
  font-size: 20px;
  padding-right: 4px;
}

.education .content p:last-child {
  margin-bottom: 0;
}

.education .content .read-more {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 50px 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  position: relative;
}

.education .content .read-more:hover {
}

.education .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}



.me svg{
    width: 100%;
    height: 100%; 
}


.jumbo-text-content{
  color: black;
  font-weight: bold;
  text-align: justify;
}


/*--------------------------------------------------------------
# projects
--------------------------------------------------------------*/
/* .projects .projects-item {
  margin-bottom: 30px;
} */
/* 
.projects #projects-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.projects #projects-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
}

.projects #projects-flters li:hover, .projects #projects-flters li.filter-active {
  color: #fff;
  background: #ff5828;
}

.projects #projects-flters li:last-child {
  margin-right: 0;
}

.projects .projects-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.projects .projects-wrap::before {
  content: "";
  background: #ff5828;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.projects .projects-wrap .projects-info {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.projects .projects-wrap .projects-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.projects .projects-wrap .projects-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.projects .projects-wrap .projects-links {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.projects .projects-wrap .projects-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.projects .projects-wrap .projects-links a:hover {
  color: #fff;
}

.projects .projects-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.projects .projects-wrap:hover .projects-info {
  opacity: 1;
  top: calc(50% - 48px);
}

.projects .projects-wrap:hover .projects-links {
  opacity: 1;
  bottom: calc(50% - 50px);
} */



/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.contact {
  background: linear-gradient(42deg, #ff8734 0%, #FFAB70 100%);
}

.contact .section-title h2, .contact .section-title p {
  color: #fff;
}

.contact .section-title h2::after {
  background: rgba(255, 255, 255, 0.6);
}

.contact .contact-list {
  padding: 0 100px;
}

.contact .contact-list ul {
  padding: 0;
  list-style: none;
}

.contact .contact-list li + li {
  margin-top: 15px;
}

.contact .contact-list li {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.contact .contact-list a {
  display: block;
  position: relative;
  font-family: "andale mono", consolas, monaco, "lucida console", "courier new", courier, monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
}

.contact .contact-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #8577fb;
}

.contact .contact-list .icon-show, .contact .contact-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.contact .contact-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.contact .contact-list .icon-show {
  display: none;
}

.contact .contact-list a.collapsed {
  color: #2c4964;
}

.contact .contact-list a.collapsed:hover {
  color: #5846f9;
}

.contact .contact-list a.collapsed .icon-show {
  display: inline-block;
}

.contact .contact-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .contact .contact-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# stalkme
--------------------------------------------------------------*/
#stalkme {
  text-align: center;
  justify-content: center;
  height: 20px;
}

/* .stalkme i {
  font-size: 32px;
  color: #5846f9;
  border-radius: 50%;
  padding: 8px;
} */

/* .stalkme h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
} */

/* .stalkme p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
} */


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#projects{
  background: #ff8734;
}
/*--------------------------------------------------------------
# projects Details
--------------------------------------------------------------*/
.projects-details {
  padding: 30px 0 60px 0;
}

.projects-details .projects-details-container {
  position: relative;
}

.projects-details .projects-details-carousel {
  position: relative;
  z-index: 1;
}

.projects-details .projects-details-carousel .owl-nav, .projects-details .projects-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.projects-details .projects-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.projects-details .projects-details-carousel .owl-dot.active {
  background-color: #ffab70 !important;
}

.projects-details .projects-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.projects-details .projects-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.projects-details .projects-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.projects-details .projects-info ul li + li {
  margin-top: 10px;
}

.projects-details .projects-description {
  padding-top: 50px;
}

.projects-details .projects-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.projects-details .projects-description p {
  padding: 0 0 0 0;
}

@media (max-width: 800px) {
  .projects-details .projects-info {
    position: static;
    margin-top: 30px;
  }
  .jumbotron{
    margin-bottom: 20px;
  }
  .education{
    margin-top: 100px;
  }
  .ed-title{
    margin-bottom: -200px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


.github-corner{
  position:fixed;
  z-index: 900;
}


@media only screen and (max-width: 750px) {

  body { 
     font-size: 12px; 
  }
  .nav-item{
    /* display: block; */
    display: inline-block
  }
}

.nav-link{
  color:white;
}
.nav-item{
  /* padding-left: 10px;
  padding-right: 10px; */
  display: block;
  padding-top:5px;
  background-color: #FF6900;
}


@media screen and (max-width: 765px){
  .navStyle ul{
          /* position: fixed; */
          background: #FF6900 !important; 
}

}